@import "main.scss";
body {
  margin: 0;
  padding: 0;
  background-color: color(secondary);
  color: color(primary);
  font-family: fontFamily(primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
